.git
.gitignore
.dockerignore
Dockerfile
docker/
*.pyc
__pycache__
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.log
.pytest_cache/
.env
.venv
.DS_Store
