--extra-index-url https://download.pytorch.org/whl/cu117
--find-links https://data.dgl.ai/wheels/cu117/repo.html

dgl==1.1.3+cu117
e3nn==0.3.3
hydra-core==1.3.2
numpy==1.26.4
pynvml==11.0.0
pyrsistent==0.19.3
torch==1.13.1+cu117
wandb==0.12.0
git+https://github.com/NVIDIA/dllogger@0540a43971f4a8a16693a9de9de73c1072020769
git+https://github.com/NVIDIA/DeepLearningExamples@297e2853d312f0f13c1fa8951d37821f5f458baa#subdirectory=DGLPyTorch/DrugDiscovery/SE3Transformer
